extends ../layout

block content
    div(class='content-paste')
        form(method='POST' action='/' class='pasteform form-horizontal')
            table(class='container')
                tbody
                    tr(class='minimal')
                        td
                            input#pasteName.form-control(type='text', placeholder='Filename [OPTIONAL]' name='pasteName')
                    tr(class='stretched')
                        td
                            input#paste.form-control(type='textarea', name='paste')
                    tr(class='minimal')
                        td
                            input#submit(type='submit' name='submit' value='Paste')