extends ../layout

block content
    div(class='content-view')
        div(class='content-view-header')
            p(class='content-view-header-summary') Paste #{_id} submitted #{moment(date).format('MMMM Do YYYY,  h:mm a')}
            div(class='content-view-header-command-cluster')
                a(class='content-view-header-command-cluster-item' href='/r/#{key ? _id+"/?key="+key : _id}')
                    img(src='images/icon-raw.png' title='Raw file')
        div(class='content-view-code-container')
            pre(class='content-view-code')
                code #{payload}

block preload
    link(rel='stylesheet', href='components/highlightjs/styles/default.css')
    script(type='text/javascript' src='components/highlightjs/highlight.pack.js')
    script(type='text/javascript' src='components/highlightjs-line-numbers.js/src/highlightjs-line-numbers.js')

block postload
    script hljs.initHighlightingOnLoad();
    script hljs.initLineNumbersOnLoad({singleLine: true});