include ./mixin

doctype html
html
    head
        +title
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        div(class='layout-container')
            div(class='layout-header')
                h1(class='header-title') #[a(href="/") #{appName}]
                block notification
            div(class='layout-content')
                block content
            footer(class='layout-footer')
                p Source available under MIT License on #[a(href="https://github.com/imDeprecated/pastebin") Github].
        block postjs