extends layout

block content
    div(class='content')
        form(method='POST' action='/' class='pasteform form-horizontal' onsubmit='preparePaste()')
            table(class='container')
                tbody
                    tr(class='minimal')
                        td
                            input#filename.form-control(type='text', placeholder='Filename [OPTIONAL]' name='filename' class='pastefilename')
                    tr(class='stretched')
                        td
                            div(id='pastetextarea' contenteditable='true' class='pastetextarea')
                            input#paste.form-control(type='hidden', name='paste')
                    tr(class='minimal')
                        td
                            input#submit(type='submit' name='submit' value='Paste')

block postjs
    script(type='text/javascript' src='/javascripts/pastehack.js')