extends layout

block content
    div(class='content')
        table(class='container')
            tbody
                tr(class='minimal')
                    td
                        p
                            | Paste #{_id} submitted #{moment(date).format('MMMM Do YYYY,  h:mm a')}
                            | | #[a(href="/r/#{_id}") RAW]
                tr(class='stretched')
                    td
                        pre(class='container')
                            code(class='codeblock') #{paste}

block postjs
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js')
    script hljs.initHighlightingOnLoad();
    script hljs.initLineNumbersOnLoad({singleLine: true});
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css')
    link(rel='stylesheet', href='/stylesheets/hljs.css')