html,
body
  padding: 0
  margin: 0
  height: 100%
  width: 100%

body
  font-family: Tahoma, Geneva, sans-serif
  text-align: center

h1
  text-align: center
  border-bottom: 2px dotted #cccccc
  margin: 5px 0 0
  font-size: 34px
  font-weight: bold

pre
  border: 2px dotted #cccccc
  padding: 15px
  overflow-x: auto !important
  text-align: left

a
  color: #666666
  text-decoration: none

a:hover
  color: #cccccc


#title a
  color: #333333
  text-decoration: none

#title a:hover
  color: #777777

.container
  height: 100%
  width: 100%

.minimal
  height: 0
  width: 0

.stretched
  height: 100%
  width: 0

.notifbar
  text-align: center
  border-top: 2px dotted #cccccc
  border-bottom: 2px dotted #cccccc
  font-family: Tahoma, Geneva, sans-serif
  font-weight: bold
  color: #cb0000

.content
  text-align: center
  height: 100%
  width: 100%

.pasteform
  height: 100%

.pastefilename
  width: 90%
  outline: none
  margin: 0 auto
  display: block
  border: 2px dotted #cccccc
  padding: 5px
  font-family: "Courier New", Courier, monospace
  font-size: 16px
  background-color: #f8f8f8

.pastefilename:focus
  border: 2px dotted #666666
  background-color: #f8f8f8

.pastetextarea
  text-align: left
  width: 90%
  height: 100%
  overflow-x: auto !important
  overflow-y: scroll !important
  resize: none
  outline: none
  margin: 0 auto
  display: block
  border: 2px dotted #cccccc
  padding: 5px
  font-family: "Courier New", Courier, monospace
  font-size: 14px
  background-color: #f8f8f8

.pastetextarea:focus
  border: 2px dotted #666666
  background-color: #ffffff

.hljs
  overflow-x: auto
  display: inline-block
  min-width: 100%

.footer
  width: 100%
  text-align: center
  font-size: 10px
  border-top: 2px dotted #cccccc
  margin: 1px