.content-view {
  flex: 1;

  .content-view-header {
    display: flex;
    flex-direction: row;

    .content-view-header-summary {
      flex-grow: 3;
    }

    .content-view-header-command-cluster {
      flex-grow: 1;
    }
  }

  .content-view-code-container {
    margin: 10px;

    @import '../hljs/hljs';
  }
}