.content-view {
  flex: 1;

  .content-view-header {
    display: flex;
    flex-direction: row;

    .content-view-header-summary {
      flex-grow: 1;
    }

    .content-view-header-command-cluster {
      display: flex;
      flex-direction: row;
      margin: 10px 15px 10px auto;
      border: 1px solid #a9a9a9;
      background: #fff;
      height: 42px;

      img {
        height: 30px;
        width: 30px;
        margin: 5px;
        user-select: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .content-view-code-container {
    margin: 10px;

    @import '../hljs/hljs';
  }
}