.content-view {
  .content-view-header {
  }

  .content-view-code {
    @import '../hljs/hljs';

    .hljs {
      overflow-x: auto;
      display: inline-block;
      min-width: 100%;
      text-align: left;
    }
  }
}